{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <h3> Hola {{ user.get_username }} </h3>
<h3>ATENCIÓN*Página web elaborada para una demo*</h3>
    <p>
      <a href="{% url 'logout' %}">Cierra Sesion</a>
    </p>
    <p><a href="{% url 'pedido_lista'%}">Ver los ultimos pedidos</a></p>
    <p><a href="{% url 'pedido-detail' %}" class='button'><i class="fas fa-shopping-cart"></i>
         Ver carrito
      </a></p>
    {% else %}
    <h3> Hola </h3>
<h3>ATENCIÓN*Página web elaborada para una demo*</h3>
    <p>
      <a href="{% url 'login' %}">Inicia Sesion</a> o
      <a href="{% url 'register' %}">Registrate</a>
    </p>
    {% endif %}

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h5> Ultimos productos </h5>
    <ul>
      {% for producto in latest_products %}
        <li>
          <a href="{% url 'product-detail' producto.pk %}">
            {{ producto.nombre }}
          </a>
          - {{ producto.precio }}
        </li>
      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li><a href="{% url 'product-list' %}"><i class="fas fa-list"></i>Ver Lista de Productos Completa</a></li>
    </ul>
{% endblock %}