{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- La cantidad de "<li data-target...> depende de la cantidad de imagenes que mostraras"-->
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!-- Estas son las imagenes. Si quieres agregar o eliminar, hazlo desde "<div class="Carousel" hasta donde termina el div en </div> con todo y la imagen dentro-->
            <!-- Si quieres cambiar el tamaño de la imagen, cambia eso que dice "max-height" en todas-->
            <div class="carousel-item active">
                <img style="max-height: 400px; object-fit: cover;" class="d-block w-100" src="https://i.ibb.co/tJFhzsg/unnamed-1.jpg">
            </div>

            <div class="carousel-item">
                <img style="max-height: 400px; object-fit: cover;" class="d-block w-100" src="https://i.ibb.co/ysQFhY0/portada2.jpg" alt="Second slide">
            </div>

            <div class="carousel-item">
                <img style="max-height: 400px; object-fit: cover;" class="d-block w-100" src="https://i.ibb.co/Ldgk4jJ/portada3.jpg" alt="Third slide">
            </div>
            <!-- Hasta acá llegan las imagenes -->
        </div>

        <!-- Estos son los controles; es decir, las flechas de izqueirda y derecha para pasar. Si no las quieres, borra ambos "<a>" -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
        </a>
        <!-- Acá termina los controles-->
    </div>
    {% if user.is_authenticated %}
    <div class="myDiv"
    <h3><span>Hola {{ user.get_username }} </span></h3>
    <h3><span>ATENCIÓN*Página web elaborada para una demo*</span></h3>
        <p><span>
          <a href="{% url 'logout' %}">Cierra Sesion</a>
        </span></p>
        <p><span><a href="{% url 'pedido_lista'%}">Ver los ultimos pedidos</a></span></p>
        <p><span><a href="{% url 'pedido-detail' %}" class='button'><i class="fas fa-shopping-cart"></i>
             Ver carrito
          </a></span></p>
        {% else %}
        <h3><span>Hola</span></h3>
    <h3><span>ATENCIÓN*Página web elaborada para una demo*</span></h3>
        <p><span>
          <a href="{% url 'login' %}">Inicia Sesion</a> o
          <a href="{% url 'register' %}">Registrate</a>
        </span></p>
        {% endif %}

        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<h5><span> New arrivals! </span></li>
    <div class="columns is-multiline">
    {% for producto in latest_products %}
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible">
                    </figure>
                </div>
                <div class="card-content">
                    <h6>
                        <a href="{% url 'product-detail' producto.pk %}">
                            {{ producto.nombre }}
                        </a>
                    </h6>
                    <p>$ {{ producto.precio }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="content">
            <h6>Aun no hay productos disponibles.</h6>
        </div>
    {% endfor %}
</div>
    <!---<ul>
      {% for producto in latest_products %}
        <li><span>
          <a href="{% url 'product-detail' producto.pk %}">
            {{ producto.nombre }}
          </a>
          - {{ producto.precio }}
        </span></li>
      {% empty %}
        <li><span>Aun no hay productos disponibles.</span></li>
      {% endfor %}
    </ul>--->

    <hr>
    <ul>
        <li><span><a href="{% url 'product-list' %}"><i class="fas fa-list"></i>Ver Lista de Productos Completa</a></span></li>
    </ul>
</body>
{% endblock %}
