{% extends "base.html" %}

{% block content %}
<head>
    <!---<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>--->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%for pedido in pedidos%}
    <h5>Numero del pedido: {{pedido.id}}</h5>
    <p>Fecha de creacion: {{pedido.fecha_creacion}}</p>
    <p>Estado: {{pedido.estado}}</p>
    <p>Total: {{pedido.get_total}}</p>
    <p>Tarifa delivery: {{pedido.tarifa}}</p>
    <p><a href="{% url 'eliminar_pedido' pedido.id%}">Eliminar pedido</a></p>
    {%endfor%}
    <p><a href="{% url 'home'%}"><i class="fas fa-home"></i>Inicio</a></p>
</body>
</html>
{% endblock %}